.card{
    background-color: hsl(0, 0%, 100%);
    width: 270px;
    height: auto;
    margin : 50px 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    transition: all 0.5s;
    border-radius: 4px;
}


.card:hover{
    transform: scale(1.05,1.05);
    /* transform: translate(50px, 50px); */
}

.card-wrapper{
    margin-left: 15px;
}

.line_height{
    line-height: 5px;   
    
}

.card_bold{
    font-weight: 600;
}

.line_height span{
    font-size: 14px;
    font-family: 'Balsamiq Sans', cursive;
}

.image-container{
    margin:0;
    padding:0;   
    height: 150px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}