.card{
    background: hsl(0, 0%, 100%);
    width: 270px;
    height: 360px;
    margin : 35px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    transition: all 0.5s;
}
.card p{
    font-size: 15px;
}

.card:hover{
    transform: scale(1.05,1.05);
}

.card-wrapper{
    margin-left: 15px;   
}
.card img{
    height:180px;
    width:280px;
}

.card_bold{
    font-weight: 600;

}