.back-button span{
    font-size: 18px;
    margin: 4px;
}

.back-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid None;
    border-radius: 6px;
    width: 110px;
    height: 40px;;
    /* padding : 8px 20px; */
    margin-bottom: 80px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 2px 1px 4px rgba(0,0,0,0.4)
}

.back-button:hover{
    background-color: black;
    color:white;
    
}


.cardsdetail-container{
    /* height:500px; */
    display: flex;
    flex-flow: column nowrap;
    background: skyblue;
    margin: 70px 0 0 0;
    padding: 0 40px 0 40px;
}

.flag-image-container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:350px;
    width:500px;
}

.image-detail-container{
    display: flex;
}

.detail-container{
    display: flex;
    flex-flow: column nowrap;
    background: red;
}