
.logo{
    height: 140px;
    width: 155px;
    margin-top: -1.6rem;
}
.header{
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* background: hsl(209, 23%, 22%); */
    background:hsl(0, 0%, 100%);
    height: 81px;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.2);
    
}
.header h2{
    color: white;
    margin-right: 5px;
}









.earth {
    width:75px;
    height:75px;
    background-image:url( https://raw.githubusercontent.com/cartalan/TierraGirando/master/img/mapa.png);
    background-size:cover;
    border-radius:50%;
    margin-top:-1.9rem;
    margin-right: 8px;
    
    
    box-shadow:-30px -20px 0 0 rgba(0,0,0,.15) inset, -70px -30px 0 0 rgba(0,0,0,.1) inset, 5px 5px 0 0 rgba(255,255,255,.2) inset;
    -webkit-animation:rotationEarth 5s infinite linear;
    -moz-animation:rotationEarth 5s infinite linear;
    animation:rotationEarth 5s infinite linear;
}

@-webkit-keyframes rotationEarth {
   from {
       background-position:left center;
   }
   to {
       background-position: -396px center;
   }
}

@keyframes rotationEarth {
   from {
       background-position:left center;
   }
   to {
       background-position: -396px center;
   }
}
