.image-option-container{
    /* background: red; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.options{
    border: 2px solid none;
    border-radius: 5px;
    display:flex;
    flex-flow: column nowrap;  
    margin:5px;
    
    background-color: hsl(0, 0%, 100%); 
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4),
                -2px 0px 4px rgba(0,0,0,0.4);
    cursor: pointer;
    padding : 15px;
}

.options div{
    margin:5px;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    min-width: 480px;
    background-color: rgb(113, 122, 133);
    font-size: 30px;
    border-radius: 3px;
    transition: all 0.3s;
}

.options div:hover{
    color:white;   
    transform: scale(1.02);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);

}


.answer-header{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}
.guess{
    font-size: 30px;
    margin-bottom: 10px;
}

div.right{
    background: green;
}
div.wrong{
    background: red;
}

@media screen and (max-width:1120px){
    .answer-header{
        margin-top: 60px;
    }
}

@media screen and (max-width:567px){
    .answer-header{
        width: 295px;
        margin-top: 60px;
    }
    .options div{
        min-width: 295px;
    }
    .image-option-container{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}
@media screen and (max-width: 400px){
    .options div{
        font-size: 25px;
        min-width: 265px;
    }
}